body {
color:white;
background-color: rgb(49, 1, 45);
margin: 0px;
font-family: "Crimson Text", serif;
margin-bottom: 100px;
}

header {
border-bottom: solid 2px rgb(51, 5, 78);
margin: 20px;
padding: 20px;
font-size: 32px;
color: rgb(69, 7, 105);
}

.chamada {
background: rgb(4, 1, 56);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.chamada-texto {
margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
font-size: 20px;

}

img {
    height: 225px;

}
.categoria {
display: flex;
overflow-x: auto;
gap: 10px;

}
.videos {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;

    }

.categoria img {
opacity: 0.5;
}

.categoria img:hover {
opacity: 2.0

}

.videos h2{
color:blueviolet;


}